@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');

body {
  font-family: 'Pathway Extreme', sans-serif;
  background-color: whitesmoke;
}

body::-webkit-scrollbar{
  width: 1rem;
}
body::-webkit-scrollbar-track{
  background: white;
}
body::-webkit-scrollbar-thumb{
  background: rgb(138, 134, 134);
}

#slider::-webkit-scrollbar{
   display: none;
   scroll-behavior: smooth;
}

#carousel::-webkit-scrollbar{
  display: none;
}
